*.DS_Store
*.swp

#idea files
**/.idea
**/.idea/*
*.iml

#java tmp
**/target
**/out
**/out/*
**/target/*

#python tmp
**/__pycache__
**/__pycache__/*

#c tmp
**/cmake-build-debug/*
**/cmake-build-debug/
